// app global css in SCSS for

@font-face {
font-family: 'Poppins';
src: url(/Poppins.ttf);
}
* {
 font-family: Poppins;
}
.bg-color {
 background-color: #f4f4f4;
}
.text-color{
color: #42307D;
}
.text-subcaption{
font-size: .6rem;
color: #616161;;
}
.titleFont{
font-size: .9rem;
font-weight: 500;
}