// app global css in SCSS form
.bg-color {
 background-color: #f4f4f4;
}
.text-color{
color: #42307D;
}
.text-subcaption{
font-size: .6rem;
color: #616161;;
}
.titleFont{
font-size: .9rem;
font-weight: 500;
}